%footer.page_footer.container-fluid  
  .row.hidden-print
    .col-sm-3.footer-col
      %ul.list-unstyled
        %li.header QUICK LINKS
        %li= link_to "Elysa Demo", "http://elysa-demo.museumprovenance.org", target: "_blank"
        %li= link_to "The Team", "pages/team"
        %li= link_to "Publications & Articles", "pages/press"

    .col-sm-3.footer-col
      %ul.list-unstyled
        %li.header REFERENCES
        %li= link_to "The Provenance Standard (v.0.1)", "/pages/standard"
        %li= link_to "Acquisition Methods", "/acquisition_methods"
        %li= link_to "Example Records", "/pages/example_records"

    .col-sm-3.footer-col
      %ul.list-unstyled
        %li.header Source Code
        %li= link_to "github.com/arttracks/museum_provenance", "https://github.com/arttracks/museum_provenance"
        %li= link_to "github.com/arttracks/elysa", "https://github.com/arttracks/elysa"
        / %li= link_to "github.com/arttracks/edtf_test_cases", "https://github.com/arttracks/edtf_test_cases"
        %li= link_to "github.com/arttracks/museum_provenance_website", "https://github.com/arttracks/museum_provenance_website"

    .col-sm-3.footer-col
      %ul.list-unstyled
        %li.header Contact Us
        %li= link_to "Contact Us", 'http://www.cmoa.org/contact/'

  .row
    .col-xs-12
      #footer_logo 
        Art Tracks is a project of
        %br
        %h3.visible-print-block Carnegie Museum of Art
        %img.img-responsive.logo.hidden-print{src: '/images/cmoa_logo.png', alt: "Carnegie Museum of Art"}
  .row       
    .col-xs-12
      .copyright
        One of the four Carnegie Museums of Pittsburgh.  
        %br.visible-xs-inline
        &copy; Carnegie Museum of Art, Carnegie Institute 2014. 
        %br
        This site and its content are released under the 
        %a{href: "https://creativecommons.org/publicdomain/zero/1.0/"} CC0 1.0 Universal (CC0 1.0) Public Domain Dedication. 
        %br
        All logos are the property of their respective owners.  All images of art are  &copy; Carnegie Museum of Art.